@model MyBlog.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Post Details</h4>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <img src="@Model.ImagePath" width="300" />
        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.Title):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Content):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Content)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PublishDate):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PublishDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PublishTime):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PublishTime)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ImagePath):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ImagePath)
                </dd>
            </dl>

        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
